@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c1c1c;
    color: #ededed;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;

}

.container {
    margin: 0 auto;
    max-width: 1140px;
}
